.App {
  max-width: 1200px;
  margin: 0 auto;
  header {
    .title {
      text-align: center;
    }
    .search__book{
      display: flex;
      justify-content: center;
    }
    .container {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      .category__book {
        margin-right: 20px;
        span {
          margin-right: 5px;
          color: gray;
        }
      }
      .sort__books {
        span {
          margin-right: 5px;
          color: gray;
        }
      }
    }
  }
  main{
    .all__books{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .loadMoreBtns{
      display: flex;
      justify-content: center;
    }
  }
}
