.book {
  margin-bottom: 20px;
  .book__card {
    width: 220px;
    height: 500px;
  }
  .category {
    color: gray;
    text-decoration: underline;
  }
  .name {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .author {
    display: block;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 476px) {
  .book__card{
    width: 330px !important;
    height: 100% !important;
  }
}